{% extends "base5.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        <div style="display: flex;">
            <img src="{{ url_img }}">
            <h2>{{ title }}</h2>
        </div>
        {% for field in form if field.name != 'csrf_token' %}
            <div>
                {% if field.name != "submit" %} {{ field.label() }}
                {% endif %}
            </div>
            <div>
                {{ field() }}
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </form>
{% endblock %}