<!DOCTYPE>
<html>
<head>
</head>
<body>
    <h1>Миссия Колонизация Марса</h1>
    <h4>И на Марсе будут яблони цвести!</h4>
    <h2>Список профессий</h2>
    {% set profs = ["инженер", "программист", "доктор", "учитель", "пилот", "профессия 6", "профессия 7"] %}
    {% if type == "ol" %}
    <ol>
        {% for i in profs %}
            <li>{{ i }}</li>
        {% endfor %}
    </ol>
    {% elif type == "ul" %}
    <ul>
        {% for i in profs %}
            <li>{{ i }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <h3>сообщение о неверном параметре</h3>
    {% endif %}
</body>
</html>